@media (max-width: 1866px) {
    .header-menu-main .nav-item {
        margin: 0 1.2%;
    }

    .header-slider-caption-wrapper {
        width: 85%;
    }
}

@media (max-width: 1765px) {
    .header-slider-caption-wrapper {
        width: 90%;
    }

    .photo-section-caption-bottom {
        top: 25%;
    }
}

@media (max-width: 1679px) {

    .header-menu-main .nav-item {
        margin: 0 0.7%;
    }

    .header-menu-main .nav-link {
        font-size: 13px !important;
    }

    .parcourir-par-catégories p {
        width: 100%;
    }

    .producteur-de-la-semaine-wrapper {
        width: 90%;
    }

    div.producteur-de-la-semaine {
        width: 60%;
    }

}

@media (max-width: 1480px) {
    /*CATEGORY PAGE*/
    .category-header-top-caption {
        width: 80% !important;
    }

    .header-menu-main .nav-item {
        margin: 0 0.5%;
    }
}

@media (max-width: 1400px) {
    .header-menu-main .nav-link {
        font-size: 12px !important;
    }

    .header-slider-caption-wrapper {
        top: 15% !important;
    }

    .photo-section-caption-top {
        top: 45%;
    }

    .nav-footer-block li {
        padding: 0.8rem 0 !important;
    }

    .copyright {
        margin: 0 auto;
    }

    .sous-menu-main-items {
        width: 25%;
    }

    .sous-menu-btn-main-menu {
        width: 24%;
    }

    .photo-section-caption-top, .photo-section-caption-bottom {
        left: 7%;
    }

}

@media (max-width: 1370px) {
    .nav-footer-block-wrapper li {
        margin: 0;
    }

    .header-menu-main .nav {
        width: 100%;
    }

    .header-menu-main .nav-item {
        margin: 0 0.5%;
    }
}

@media (max-width: 1260px) {
    .header-menu-main .nav-item {
        margin: 0 0.2%;
    }

    .messenger-btn {
        top: 2rem;
        right: -100%;
    }

    .parcourir-par-catégories .slick-prev, .parcourir-par-catégories .slick-next {
        top: 20% !important;
    }

    div.producteur-de-la-semaine {
        width: 70%;
    }
}

@media (max-width: 1210px) {
    .sous-submenu {
        width: 1100px;
    }

    /*CATEGORY PAGE*/
    .category-header-top-caption {
        width: 94% !important;
    }
}

@media (max-width: 1150px) {
    .header-menu-main .nav-item {
        margin: 0 0.1%;
    }

    .header-menu-main .nav-item {
        padding: 0.4rem;
    }

    .header-menu-main .nav-link {
        font-size: 11px !important;
    }

    .photo-section-caption-bottom {
        top: 20%;
    }

    .nav-footer {
        width: 90%;
    }

    .header-slider-caption-btn {
        margin-top: 0;
    }

    .header-slider-caption-wrapper {
        top: 10% !important;
    }

    .sous-submenu {
        width: 990px;
    }

    div.producteur-de-la-semaine {
        width: 80%;
    }
}

@media (max-width: 1040px) {
    .photo-right-section-top {
        height: 60%;
    }

    .photo-section-caption-top {
        top: 35%;
    }

    .photo-right-section-bottom {
        height: 40%;
    }

    .sous-submenu {
        width: 900px;
    }

    .header-menu-main .nav-item {
        margin: 0;
    }

    .header-menu-main .nav-item {
        padding: 0.3rem;
    }

    /*CATEGORY PAGE*/
    .category-header-top-caption {
        font-size: 37px;
    }

    div.producteur-de-la-semaine {
        width: 90%;
    }

}

@media (max-width: 992px) {

    .header-slider {
        margin-top: 20px;
    }

    .header-slider-caption {
        top: 10% !important;
    }

    .header-slider-caption-description {
        width: 90%;
    }

    .btn-icons {
        width: inherit;
        height: auto;
    }

    .btn-icons-cart i {
        margin-top: 0px;
    }

    .nav-wrapper .nav li a {
        line-height: 37px;
    }

    .navbar-brand-wrapper {
        text-align: left !important;
        position: relative;
    }

    .navbar-brand {
        float: left;
    }

    .nav-footer-help {
        margin-right: 0;
    }

    .nav-footer-block {
        max-width: 30%;
        margin-bottom: 15px;
    }

    .nav-footer-block li {
        padding: 0.8rem 0.8rem !important;
    }

    .nav-footer-block a {
        font-size: 13px;
    }

    .parcourir-par-catégories .slick-prev, .parcourir-par-catégories .slick-next {
        top: 35% !important;
    }

    .nav-wrapper .btn-icons-cart {
        width: 75px;
        height: 30px;
    }
}

@media (max-width: 847px) {
    .nav-footer-help li {
        margin-right: 30px;
    }

    div.producteur-de-la-semaine {
        width: 100%;
    }

    .producteur-de-la-semaine-wrapper {
        width: 96%;
    }
}

@media (max-width: 767px) {
    .section-2 {
        display: none;
    }

    section {
        margin: 3rem auto;
    }

    div.quest-ce-que-maturin {
        margin: 3rem auto;
    }

    .section-title {
        width: 90%;
        font-size: 24px;
    }

    div.quest-ce-que-maturin {
        width: 90%;
    }

    .messenger-btn {
        display: none;
    }

    .nav-footer-help li {
        margin-right: 10px;
    }

    .nav-footer-inline {
        text-align: center;
        width: 100%;
        padding-right: 15px !important;
        padding-left: 15px !important;
        margin-top: 20px;
    }

    .nav-footer-help li {
        display: block;
    }

    .nav-footer-block {
        max-width: 50%;
    }

    .nav-footer-bottom-mobile li a {
        position: absolute !important;
    }

    .btn-registr-modal-close {
        display: block;
    }

    .producteur-de-la-semaine-caption {
        padding-top: 20px;
    }

    .client-maturin-caption {
        padding-top: 20px;
    }

    .nos-clients-nous-disent-right {
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }

    .produit-en-vedette .slick-prev, .produit-a-proximite .slick-prev, .parcourir-par-catégories .slick-prev {
        left: -40px !important;
    }

    /*CATEGORY PAGE*/
    .category-header-top-img {
        height: 150px;
    }

    .modal-open {
        position: fixed;
    }

    .d-f {
        display: none;
    }

    .d-m {
        display: block;
    }

    .position-absolute-bottom {
        position: relative !important;
    }

    .nos-clients-nous-disent-right-wrapper {
        padding: 5rem;
    }
}

@media (max-width: 680px) {
    .header-slider-caption {
        top: 0 !important;
    }

    .header-slider-caption-wrapper {
        width: 80%;
    }

    .header-slider-caption-title span {
        font-size: 32px;
    }

    .header-slider-caption-description {
        font-size: 18px;
    }

    .producteur-de-la-semaine {
        width: 100% !important;
        text-align: center;
    }

    .producteur-de-la-semaine .col {
        margin: 0 auto !important;
    }

    .section-title-line:after, .section-title-line:before {
        display: none;
    }

    .header-slider .slick-slide img {
        height: 200px;
    }
}

@media (max-width: 575px) {
    .navbar-brand {
        font-size: 24px;
    }

    .nav-wrapper .nav li a {
        line-height: 2;
    }

    .navbar-toggler {
        height: 45px;
    }

    .btn-icons-cart i {
        font-size: 24px;
    }

    .nav-link {
        padding: .5rem .5rem;
    }

    .produit-a-proximite {
        display: none !important;
    }

    .produit-a-proximite-mobile {
        display: block;
        padding: 0 15px;
    }

    .produit-en-vedette .product-btn-add-to-cart {
        width: 70% !important;
    }

    .produit-en-vedette .product-btn-overview {
        width: 40%;
    }

    .nos-clients-nous-disent-right, .nos-clients-nous-disent-left {
        height: auto !important;
    }

    .nos-clients-nous-disent-right-profile {
        margin: 15% auto 5% auto;
    }

    .nos-clients-nous-disent-right .button {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .nos-clients-nous-disent-right-wrapper {
        padding: 5rem 0.5rem;
    }

    .nos-clients-nous-disent-right-caption {
        font-size: 20px;
    }

    .header-slider-caption {
        text-align: center !important;
    }

    .header-slider-caption-title span {
        font-size: 26px;
    }

    .header-slider-caption-title, .header-slider-caption-description {
        text-align: center;
        width: 100%;
    }

    .header-slider-caption-description {
        padding-top: 1px;
    }

    .header-slider-caption-btn {
        margin-top: 10px;
    }

    /*CATEGORY PAGE*/
    .category-header-top-caption {
        font-size: 24px;
    }

    .header-slider .slick-prev, .header-slider .slick-next {
        width: 35px;
        height: 60px;
    }

    .slick-prev, .slick-next {
        top: 45%;
    }

    .slick-arrow i {
        font-size: 20px;
    }

}

@media (max-width: 480px) {
    .section-4 {
        display: none;
    }

    .section-4-mobile {
        display: block !important;
        background: #f2f1f1;
        margin-right: -15px;
        margin-left: -15px;
        padding-bottom: 20px;
    }

    .section-4-mobile .sous-menu-mobile a {
        color: black;
    }

    .section-4-mobile .sous-menu-mobile {
        margin-left: 20px !important;
    }

    .section-4-mobile .sous-menu-mobile-item:first-child {
        border-top: 1px solid #E5E5E5;
    }

    .section-4-mobile .section-title {
        text-align: left;
        font-size: 16px;
        font-family: NunitoSans-Bold, serif;
        padding: 20px !important;
        margin: 0 !important;
    }

    .btn-icons-cart i {
        font-size: 18px;
    }

    .header-slider-caption-description {
        font-size: 13px;
    }

    .header-slider-caption-btn {
        font-size: 12px;
        width: 50%;
    }

    .produit-en-vedette .product-btn-add-to-cart {
        font-size: 11px;
        padding: 0.1rem;
    }

    .produit-en-vedette .product-btn-overview {
        font-size: 10px;
    }

    .nav-footer-block {
        max-width: 85%;
    }
}

@media (max-width: 380px) {
    .padding-right-10-screen-380 {
        padding-right: 10px;
        padding-left: 10px;
    }

    .navbar-brand {
        margin-right: 5px;
        font-size: 18px;
    }

    .navbar-toggler {
        height: auto;
    }

    .navbar-toggler i {
        font-size: 18px;
    }

    .navbar-toggler {
        padding: .25rem 0.3rem;
    }

    .btn-icons-cart {
        padding: .5rem 0.5rem;
    }

    .header-slider-caption-title span {
        font-size: 18px;
    }

    .header-slider-caption-btn {
        margin-top: 15px;
    }
}