@media (max-width: 1950px) {
    .producteur-de-la-semaine-wrapper {
        width: 90%;
    }

    .parcourir-par-catégories .slick-prev, .parcourir-par-catégories .slick-next {
        top: 32% !important;
    }

}

@media (max-width: 1866px) {
    .header-menu-main {
        padding: .5rem 0 0;
    }

    .header-menu-main .nav {
        width: 100%;
    }

    .header-menu-main .nav-item {
        margin: 0 0.9%;
    }

    .header-slider-caption-wrapper {
        width: 85%;
    }

    .parcourir-par-catégories .slick-prev, .parcourir-par-catégories .slick-next {
        top: 30% !important;
    }

}

@media (max-width: 1765px) {
    .header-slider-caption-wrapper {
        width: 90%;
    }

    .photo-section-caption-bottom {
        top: 25%;
    }

    .producteur-de-la-semaine-wrapper {
        width: 95%;
    }

    .parcourir-par-catégories .slick-track {
        height: 200px;
    }

    .parcourir-par-catégories .slick-prev, .parcourir-par-catégories .slick-next {
        top: 32% !important;
    }

    .header-menu-main .nav-item {
        margin: 0 0.8%;
        padding: 0.8rem 1rem;
    }

    .nav-footer-block-wrapper {
        padding: 0.5rem 0;
    }

    .nav-footer-block li {
        padding: 0 0.5rem !important;
    }

    .modify-parameter {
        font-size: 13px;
    }
}

@media (max-width: 1679px) {

    .header-menu-main .nav-item {
        margin: 0 0.7%;
    }

    .header-menu-main .nav-link {
        font-size: 13px !important;
    }

    .parcourir-par-catégories p {
        width: 100%;
    }

    div.producteur-de-la-semaine {
        width: 60%;
    }

    .header-slider-caption-description {
        width: 80%;
    }

    .client-maturin-caption {
        width: 80%;
    }

    .producteur-de-la-semaine-wrapper {
        width: 100%;
    }

    .produit-en-vedette .slick-prev, .produit-a-proximite .slick-prev, .produit-en-vedette .slick-next, .produit-a-proximite .slick-next {
        top: 35% !important;
    }

    .parcourir-par-catégories .slick-prev, .parcourir-par-catégories .slick-next {
        top: 28% !important;
    }
}

@media (max-width: 1615px) {

    .header-menu-main .nav-item {
        margin: 0 0.5%;
    }
}

@media (max-width: 1560px) {

    .header-menu-main .nav-item {
        margin: 0 0.3%;
    }
}

@media (max-width: 1480px) {
    /*CATEGORY PAGE*/
    .category-header-top-caption {
        width: 80% !important;
    }

    .header-menu-main .nav-item {
        margin: 0 0.1%;
    }

    .btn-icons {
        margin-left: 10%;
    }

    .parcourir-par-catégories .slick-track {
        height: 180px;
    }

    .parcourir-par-catégories .slick-prev, .parcourir-par-catégories .slick-next {
        top: 26% !important;
    }

    .sous-menu-main {
        margin-left: 1%;
    }

    .sous-menu-main-items {
        width: 320px;
    }

    .sous-submenu .col-3 {
        min-width: 340px !important;
    }

    .sous-menu-btn button, .sous-menu-btn-main-menu button {
        width: 300px;
    }
}

@media (max-width: 1400px) {
    .header-menu-main .nav-link {
        font-size: 12px !important;
    }

    .header-slider-caption-wrapper {
        top: 15% !important;
    }

    .photo-section-caption-top {
        top: 45%;
    }

    .copyright {
        margin: 0 auto;
    }

    .photo-section-caption-top, .photo-section-caption-bottom {
        left: 7%;
    }

    div.producteur-de-la-semaine {
        width: 70%;
    }

    .produit-en-vedette .slick-prev, .produit-a-proximite .slick-prev, .produit-en-vedette .slick-next, .produit-a-proximite .slick-next {
        top: 31% !important;
    }

    .parcourir-par-catégories .slick-prev, .parcourir-par-catégories .slick-next {
        top: 25% !important;
    }

    .nav-footer-block-wrapper {
        padding: 0.4rem 0;
    }

}

@media (max-width: 1370px) {
    .nav-footer-block-wrapper li {
        margin: 0;
    }

    .header-menu-main .nav {
        width: 100%;
    }

    .header-menu-main .nav-item {
        margin: 0;
    }

    .btn-icons {
        margin-left: 5%;
    }

    .client-maturin-caption {
        width: 90%;
    }

    .sous-menu {
        margin-left: 0;
    }

    .nav-footer-block-wrapper {
        padding: 0.4rem 0;
    }

    .nav-footer-block li {
        padding: 0 0.4rem !important;
    }

}

@media (max-width: 1300px) {
    .parcourir-par-catégories .slick-track {
        height: 200px;
    }

    .header-menu-main .nav-item {
        margin: 0;
        padding: 0.7rem .8rem;
    }

    .nav-footer-block li {
        padding: 0 0.3rem !important;
    }
}

@media (max-width: 1260px) {

    .messenger-btn {
        top: 2rem;
        right: -100%;
    }

    .parcourir-par-catégories .slick-prev, .parcourir-par-catégories .slick-next {
        top: 27% !important;
    }

    .btn-icons {
        margin-left: 5px;
    }

    .sous-menu-main-items {
        width: 280px;
    }

    .sous-submenu .col-3 {
        min-width: 300px !important;
    }

    .sous-menu-btn button, .sous-menu-btn-main-menu button {
        width: 260px;
    }

    .header-menu-main .nav-item {
        padding: 0.6rem .6rem;
    }
}

@media (max-width: 1210px) {
    .sous-submenu {
        width: 1100px;
    }

    .sous-menu-main-items {
        width: 260px;
    }

    .sous-submenu .col-3 {
        min-width: 260px !important;
    }

    .sous-menu-btn button, .sous-menu-btn-main-menu button {
        width: 240px;
        font-size: 13px;
    }

    .sous-menu-main {
        margin-left: 5px;
    }

    /*CATEGORY PAGE*/
    .category-header-top-caption {
        width: 94% !important;
    }

    div.producteur-de-la-semaine {
        width: 80%;
    }

    .header-menu-main .nav-item {
        padding: 0.6rem .5rem;
    }

    .nav-footer-block-wrapper {
        padding: 0.3rem 0;
    }

    .nav-footer-block li {
        padding: 0 0.2rem !important;
    }

    .category-products .product-btn-add-to-cart {
        max-width: 90%;
        padding: 0.5rem 0.3rem;
        bottom: 10px;
    }
}

@media (max-width: 1150px) {

    .header-menu-main .nav-item {
        padding: 0.6rem .48rem;
    }

    .header-menu-main .nav-link {
        font-size: 11px !important;
    }

    .photo-section-caption-bottom {
        top: 20%;
    }

    .nav-footer {
        width: 90%;
    }

    .header-slider-caption-btn {
        margin-top: 0;
    }

    .header-slider-caption-wrapper {
        top: 10% !important;
    }

    .sous-submenu {
        width: 990px;
    }

    .btn-icons {
        margin-left: 10%;
    }

    .produit-en-vedette .slick-prev, .produit-a-proximite .slick-prev, .produit-en-vedette .slick-next, .produit-a-proximite .slick-next {
        top: 30% !important;
    }

    .parcourir-par-catégories .slick-prev, .parcourir-par-catégories .slick-next {
        top: 25% !important;
    }

    .sous-menu-main-items {
        width: 240px;
    }

    .sous-submenu .col-3 {
        min-width: 240px !important;
    }

    .sous-menu-btn button, .sous-menu-btn-main-menu button {
        width: 220px;
        font-size: 11px;
    }
}

@media (max-width: 1040px) {
    .photo-right-section-top {
        height: 60%;
    }

    .photo-section-caption-top {
        top: 35%;
    }

    .photo-right-section-bottom {
        height: 40%;
    }

    .sous-submenu {
        width: 900px;
    }

    .header-menu-main .nav-item {
        margin: 0;
    }

    .header-menu-main .nav-item {
        padding: 0.3rem;
    }

    /*CATEGORY PAGE*/
    .category-header-top-caption span {
        font-size: 37px;
    }

    div.producteur-de-la-semaine {
        width: 90%;
    }

    .category-header-top-img {
        height: 200px;
    }

    .nav-footer-block-wrapper {
        padding: 0.2rem 0;
    }

    .nav-footer-block li {
        padding: 0 0.1rem !important;
    }

}

@media (max-width: 992px) {

    .header-slider, .category-header-top {
        margin-top: 20px;
    }

    .header-slider-caption {
        top: 10% !important;
    }

    .header-slider-caption-description {
        width: 90%;
    }

    .nav-wrapper .nav li a {
        line-height: 37px;
    }

    .navbar-brand-wrapper {
        text-align: left !important;
        position: relative;
    }

    .navbar-brand {
        float: left;
    }

    .nav-footer-help {
        margin-right: 0;
    }

    .nav-footer-block {
        max-width: 30%;
        margin-bottom: 15px;
    }

    .nav-footer-block a {
        font-size: 13px;
    }

    .parcourir-par-catégories .slick-prev, .parcourir-par-catégories .slick-next {
        top: 35% !important;
    }

    .section-2 {
        width: 95%;
    }

    .parcourir-par-catégories .slick-track {
        height: 230px;
    }

    .produit-en-vedette .slick-prev, .produit-a-proximite .slick-prev, .produit-en-vedette .slick-next, .produit-a-proximite .slick-next {
        top: 26% !important;
    }

    .btn-icons {
        margin-left: 5px;
        margin-top: 5px;
    }

    .nav-footer-block li {
        padding: 0 0.5rem !important;
    }

    .nav-footer-block-wrapper {
        padding: 0.5rem 0;
    }

    .masonry-layout {
        column-count: 3;
        -moz-column-count: 3;
        -webkit-column-count: 3;
    }

    .product-quantity-value .button-orange {
        padding: 1px 6px;
    }
}

@media (max-width: 847px) {
    .nav-footer-help li {
        margin-right: 30px;
    }

    div.producteur-de-la-semaine {
        width: 100%;
    }

    .producteur-de-la-semaine-wrapper {
        width: 96%;
    }

    .parcourir-par-catégories .slick-track {
        height: 205px;
    }

    .produit-en-vedette .slick-prev, .produit-a-proximite .slick-prev, .parcourir-par-catégories .slick-prev, .produit-en-vedette .slick-next, .produit-a-proximite .slick-next, .parcourir-par-catégories .slick-next {
        top: 21% !important;
    }

    .masonry-layout {
        column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
    }
}

@media (max-width: 767px) {
    .section-2 {
        display: none;
    }

    section {
        margin: 3rem auto;
    }

    div.quest-ce-que-maturin {
        margin: 3rem auto;
    }

    .section-title {
        width: 90%;
        font-size: 24px;
    }

    div.quest-ce-que-maturin {
        width: 90%;
    }

    .messenger-btn {
        display: none;
    }

    .nav-footer-help li {
        margin-right: 10px;
    }

    .nav-footer-inline {
        text-align: center;
        width: 100%;
        padding-right: 15px !important;
        padding-left: 15px !important;
        margin-top: 20px;
    }

    .nav-footer-help li {
        display: block;
    }

    .nav-footer-block {
        max-width: 50%;
    }

    .nav-footer-bottom-mobile li a {
        position: absolute !important;
    }

    .nav-footer-bottom-mobile {
        text-align: left !important;
    }

    .btn-registr-modal-close {
        display: block;
    }

    .client-maturin-caption {
        padding-top: 20px;
    }

    .nos-clients-nous-disent-right {
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }

    /*CATEGORY PAGE*/
    .category-header-top-img {
        height: 150px;
    }

    .modal-open {
        position: fixed;
    }

    .d-f {
        display: none;
    }

    .d-m {
        display: block;
    }

    .position-absolute-bottom {
        position: relative !important;
    }

    .nos-clients-nous-disent-right-wrapper {
        padding: 5rem;
    }

    .producteur-de-la-semaine {
        width: 100% !important;
        text-align: center;
    }

    .producteur-de-la-semaine .col {
        margin: 0 auto !important;
    }

    .header-slider-caption {
        top: 2% !important;
    }

    .producteur-de-la-semaine-caption {
        padding-top: 20px;
    }

    .parcourir-par-catégories .slick-track {
        height: 230px;
    }

    .category-products {
        width: 100%;
        padding: 0 10px;
        margin: 1rem auto !important;
    }

    .category-products-result {
        padding: 0.6rem 15px;
    }

    #checked-filters {
        margin-top: 40px;
    }

    .category-products-filters-title {
        line-height: 2.5;
        margin: 0;
        font-size: 18px;
    }

    .category-product-filter .category-product-filter-title {
        font-size: 18px;
    }

    .category-product-filter-checkbox, .category-product-filter-default {
        font-size: 16px;
    }

    .checkbox {
        padding-left: 45px;
        line-height: 35px;
    }

    .checkbox i {
        width: 25px;
        height: 25px;
    }

    .checkbox input + i:after {
        width: 25px;
        height: 25px;
    }

    .product-board {
        padding-left: 0px;
    }

    .vous-aimeriez-aussi, .produit-en-vedette {
        width: 100%;
        margin: 0 auto;
    }

    #product {
        width: 100%;
    }

    #product .section-title {
        margin-top: 20px;
        width: 100%;
        margin-bottom: 0px !important;
    }

    #product .product-quantity-title {
        margin-top: 20px;
    }

    .product-quantity, .product-board .nav-suivre {
        padding: 0 2rem;
    }

}

@media (max-width: 750px) {
    .produit-en-vedette .slick-prev, .produit-a-proximite .slick-prev, .parcourir-par-catégories .slick-prev, .produit-en-vedette .slick-next, .produit-a-proximite .slick-next, .parcourir-par-catégories .slick-next {
        top: 33% !important;
    }
}

@media (max-width: 680px) {
    .header-slider-caption {
        top: 0 !important;
    }

    .header-slider-caption-wrapper {
        width: 80%;
    }

    .header-slider-caption-title span {
        font-size: 32px;
    }

    .header-slider-caption-description {
        font-size: 18px;
    }

    .section-title-line:after, .section-title-line:before {
        display: none;
    }

    .header-slider .slick-slide img {
        height: 250px;
    }

    .header-slider-caption-btn {
        margin-top: 3%;
    }

    .client-maturin-caption {
        width: 100%;
    }

    .parcourir-par-catégories .slick-track {
        height: 210px;
    }

    .produit-en-vedette .slick-prev, .produit-a-proximite .slick-prev, .parcourir-par-catégories .slick-prev, .produit-en-vedette .slick-next, .produit-a-proximite .slick-next, .parcourir-par-catégories .slick-next {
        top: 30% !important;
    }
}

@media (max-width: 575px) {

    .navbar-brand {
        font-size: 24px;
    }

    .nav-wrapper .nav li a {
        line-height: 2;
    }

    .navbar-toggler {
        height: 45px;
    }

    .nav-link {
        padding: .5rem .5rem;
    }

    .produit-a-proximite {
        display: none !important;
    }

    .produit-a-proximite-mobile {
        display: block;
        padding: 0 15px;
    }

    .produit-a-proximite-mobile .product-group {
        padding-top: 10px;
    }

    .produit-en-vedette .product-btn-add-to-cart, .produit-a-proximite-mobile .product-btn-add-to-cart {
        width: 70% !important;
    }

    .produit-en-vedette .product-btn-overview, .produit-a-proximite-mobile .product-btn-overview {
        width: 40%;
    }

    .nos-clients-nous-disent-right, .nos-clients-nous-disent-left {
        height: auto !important;
    }

    .nos-clients-nous-disent-right-profile {
        margin: 15% auto 5% auto;
    }

    .nos-clients-nous-disent-right .button {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .nos-clients-nous-disent-right-wrapper {
        padding: 5rem 0.5rem;
    }

    .nos-clients-nous-disent-right-caption {
        font-size: 20px;
    }

    .header-slider-caption-btn {
        margin-top: 30px;
    }

    /*CATEGORY PAGE*/
    .category-header-top-caption span {
        font-size: 32px;
    }

    .header-slider .slick-prev, .header-slider .slick-next {
        width: 35px;
        height: 60px;
    }

    .slick-arrow i {
        font-size: 20px;
    }

    .header-slider-caption-title span {
        text-align: center;
    }

    .header-slider-caption-title, .header-slider-caption-description {
        text-align: center;
        margin: 0 auto;
    }

    .header-slider-caption-title {
        line-height: 1.1;
        width: 90%;
    }

    .header-slider-caption-description {
        width: 95%;
    }

    .header-slider-caption-wrapper {
        text-align: center;
    }

    .parcourir-par-catégories .slick-track {
        height: 190px;
    }

    .nav-wrapper .btn-icons {
        margin-left: 5px !important;
        height: 20px;
        width: 20px;
        top: 10px;
    }

    .btn-icons {
        margin-top: 0;
    }

    .btn-icons-cart-count {
        width: 11px;
        height: 10px;
        line-height: 1.6;
        right: -5px;
        font-size: 7px;
    }

    .pb-15-pt-5-screen-575 {
        padding-bottom: 15px;
        padding-top: 5px;
    }

    section {
        margin: auto;
    }

    .section-title {
        margin-bottom: 20px !important;
    }

    .section-3, .section-4-mobile {
        margin-top: 30px;
    }

    .section-5 {
        margin-top: 40px;
    }

    .section-5 .section-title {
        line-height: 1.1;
    }

    .section-6 {
        margin: 30px auto !important;
    }

    .section-3-copy {
        margin-top: 50px;
    }

    .section-3-copy .section-title {
        margin-bottom: 0 !important;
    }

    div.producteur-de-la-semaine {
        margin: 0rem auto 50px auto
    }

    div.producteur-de-la-semaine:last-child {
        margin: 25px auto !important;
    }

    .button-en-voir-plus {
        margin: 3rem auto auto auto;
    }

    #registrModal .tab-pane .row {
        padding-bottom: 10px;
    }

    #registrModal h5 {
        padding-bottom: 10px;
        margin-top: -10px;
    }

    .m--30 {
        margin-right: -20px;
        margin-left: -20px;
        margin-bottom: 0;
    }

    .product-title {
        margin-bottom: 0px !important;
    }

    .product-btn-overview {
        display: none;
    }

    .modifiezVosParamètres {
        padding: 0;
    }

    .category-products .product-btn-add-to-cart {
        padding: 0.5rem 0;
        font-size: 12px;
    }

    .produit-en-vedette .product-title {
        font-size: 13px;
    }

    .produit-en-vedette .product-subtitle {
        font-size: 11px;
    }

    .produit-en-vedette .product-price {
        font-size: 11px;
    }

    .category-products-filter-by {
        font-size: 9px;
        padding: 0.3rem 0.3rem;
    }

    .category-products-filter-by-btn-close {
        margin-left: 2px;
        font-size: 11px;
    }
}

@media (max-width: 480px) {
    .section-4 {
        display: none;
    }

    .section-4.no-background {
        display: block;
    }

    .section-4-mobile {
        display: block !important;
        background: #f2f1f1;
        margin-right: -15px;
        margin-left: -15px;
        padding-bottom: 20px;
    }

    .section-4-mobile .sous-menu-mobile a {
        color: black;
    }

    .section-4-mobile .section-title {
        text-align: left;
        font-size: 16px;
        font-family: NunitoSans-Bold, serif;
        padding: 20px !important;
        margin: 0 !important;
    }

    .header-slider-caption-description {
        font-size: 13px;
    }

    .header-slider-caption-btn {
        font-size: 12px;
        width: 50%;
    }

    .produit-en-vedette .product-btn-add-to-cart, .produit-a-proximite-mobile .product-btn-add-to-cart {
        font-size: 8px;
        padding: 0.5rem 0.2rem;
    }

    .produit-en-vedette .product-btn-overview {
        font-size: 10px;
    }

    .nav-footer-block {
        max-width: 85%;
    }

    div.producteur-de-la-semaine img {
        width: 100%;
        height: auto;
    }

    .header-slider-caption-title span {
        font-size: 28px;
    }

    .header-slider-caption-title {
        line-height: 0.9;
    }

    .nos-clients-nous-disent-left {
        height: 360px !important;
    }

    .produit-en-vedette .slick-prev, .produit-a-proximite .slick-prev, .parcourir-par-catégories .slick-prev, .produit-en-vedette .slick-next, .produit-a-proximite .slick-next, .parcourir-par-catégories .slick-next {
        top: 25% !important;
    }

    .category-header-top-img {
        height: auto;
    }

    .category-header-top-caption span {
        font-size: 30px;
    }

    .product-quantity .button-orange {
        width: calc(100% - 100px) !important;
    }

    .product-quantity .button-black {
        width: 100% !important;
    }

    .product-board .nav-suivre {
        padding: 0;
        text-align: center;
    }

    .product-property {
        margin: 0 -15px;
        border-right: none;
        border-left: none;
    }

    .comments article {
        padding: 10px 0 0 0;
    }
}

@media (max-width: 380px) {
    .padding-right-10-screen-380 {
        padding-right: 10px;
        padding-left: 10px;
    }

    .navbar-brand {
        margin-right: 5px;
        font-size: 18px;
    }

    .navbar-toggler {
        height: auto;
    }

    .navbar-toggler i {
        font-size: 18px;
    }

    .navbar-toggler {
        padding: .25rem 0.3rem;
    }

    .btn-icons-cart {
        padding: .5rem 0.5rem;
    }

    .header-slider-caption-btn {
        margin-top: 35px;
        width: 60%;
    }

    .nos-clients-nous-disent-left {
        height: 280px !important;
    }

    .header-slider-caption-title {
        width: 100% !important;
    }

    .produit-en-vedette .slick-prev, .produit-a-proximite .slick-prev, .parcourir-par-catégories .slick-prev, .produit-en-vedette .slick-next, .produit-a-proximite .slick-next, .parcourir-par-catégories .slick-next {
        top: 24% !important;
    }

    .category-products .product-btn-add-to-cart {
        padding: 0.5rem 0;
        font-size: 8px;
    }

    .category-header-top-caption span {
        font-size: 24px;
    }
}

@media (max-width: 350px) {
    .category-header-top-caption span {
        font-size: 22px;
    }

    .d-480-none {
        display: none;
    }
}