@font-face {
    font-family: NunitoSans-Black;
    src: url(../fonts/Nunito_Sans/NunitoSans-Black.ttf);
}

@font-face {
    font-family: NunitoSans-BlackItalic;
    src: url(../fonts/Nunito_Sans/NunitoSans-BlackItalic.ttf);
}

@font-face {
    font-family: NunitoSans-Bold;
    src: url(../fonts/Nunito_Sans/NunitoSans-Bold.ttf);
}

@font-face {
    font-family: NunitoSans-BoldItalic;
    src: url(../fonts/Nunito_Sans/NunitoSans-BoldItalic.ttf);
}

@font-face {
    font-family: NunitoSans-ExtraBold;
    src: url(../fonts/Nunito_Sans/NunitoSans-ExtraBold.ttf);
}

@font-face {
    font-family: NunitoSans-ExtraBoldItalic;
    src: url(../fonts/Nunito_Sans/NunitoSans-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: NunitoSans-ExtraLight;
    src: url(../fonts/Nunito_Sans/NunitoSans-ExtraLight.ttf);
}

@font-face {
    font-family: NunitoSans-ExtraLightItalic;
    src: url(../fonts/Nunito_Sans/NunitoSans-ExtraLightItalic.ttf);
}

@font-face {
    font-family: NunitoSans-Italic;
    src: url(../fonts/Nunito_Sans/NunitoSans-Italic.ttf);
}

@font-face {
    font-family: NunitoSans-Light;
    src: url(../fonts/Nunito_Sans/NunitoSans-Light.ttf);
}

@font-face {
    font-family: NunitoSans-LightItalic;
    src: url(../fonts/Nunito_Sans/NunitoSans-LightItalic.ttf);
}

@font-face {
    font-family: NunitoSans-Regular;
    src: url(../fonts/Nunito_Sans/NunitoSans-Regular.ttf);
}

@font-face {
    font-family: NunitoSans-SemiBold;
    src: url(../fonts/Nunito_Sans/NunitoSans-SemiBold.ttf);
}

@font-face {
    font-family: NunitoSans-SemiBoldItalic;
    src: url(../fonts/Nunito_Sans/NunitoSans-SemiBoldItalic.ttf);
}

body,
html {
    height: 100%;
    width: 100%;
}

body {
    font-family: NunitoSans-Regular, serif;
    font-size: 14px;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-weight: normal;
    line-height: 1.2;
}

a {
    cursor: pointer;
}

.full-width {
    width: 100% !important;
}

.no-padding {
    padding: 0px !important;
}

.no-padding-right {
    padding-right: 0px !important;
}

.no-padding-left {
    padding-left: 0px !important;
}

.m-0-auto {
    margin: 0 auto;
}

.m--30 {
    margin-right: -30px;
    margin-left: -30px;
}

.mb-rem {
    margin-bottom: 1rem;
}

.m-r-l-10 {
    margin: 0 10% !important;
}

.position-absolute-bottom{
    position: absolute;
    bottom: 0;
}

.h-545 {
    max-height: 545px;
    overflow-y: hidden;
}

li {
    list-style-type: none;
}

ul {
    padding: 0 !important;
}

.container-fluid {
    overflow: hidden;
}

.divider {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 80%;
    height: 1px;
    background: #cdcdcd;
    border: solid #FFF;
    border-width: 0 10px;
    margin: 1% auto;
}

.section-6 {
    margin: 1rem auto !important;
}

section {
    margin: 7rem auto;
}

.button {
    font-size: 15px;
    font-family: NunitoSans-Bold, serif;
    padding: .7rem 1rem;
    border: none;
    border-radius: 0;
    text-align: center;
    cursor: pointer;
}

.button-200 {
    width: 200px;
}

.button-220 {
    width: 220px;
}

.button-300 {
    width: 300px;
}

.button-340 {
    width: 340px;
}

.button-full-width {
    width: 100%;
}

.button-orange {
    background: #f0632f;
    color: #ffffff;
}

.button-orange:hover {
    background-color: #d6582a !important;
}

.button-black {
    background: black;
    color: #ffffff;
}

.button-black:hover {
    background: #333333;
    color: white;
}

.button-gray {
    color: black;
    background: #e0dfde;
}

.button-gray:hover {
    background: #e0dfde87 !important;
}

.button-white {
    background: white;
    border: 1px solid #cdcdcd;
}

.button-white:hover {
    color: white;
    background: #f0632f;
}

.button-transparent {
    background: transparent;
    border: none;
    padding: 0;
}

.orange-link {
    color: #f0632f;
    text-decoration: none;
}

.orange-link:hover {
    color: #f0632f;
    text-decoration: underline;
}

.is-login {
    display: none;
}

.is-login-opacity {
    opacity: 0;
    transition: opacity .3s;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    -moz-transition: opacity .3s;
}

.d-m{
    display: none;
}
/*HOME  PAGE*/
/*HEADER*/
.header-menu-top {
    margin-bottom: 0.7%;
    padding: 0 !important;
    background-color: #000000;
}

.header-menu-top .nav-item{
    margin: 0 1.1rem;
}

.header-menu-top .nav-link {
    color: white;
    font-family: NunitoSans-Light, serif;
    font-size: 13px;
}

a.nav-link {
    font-size: 13px;
}

.header-menu-top a.nav-link.active, .header-menu-top a.nav-link:hover {
    text-decoration: underline;
}

.header-menu-top .dropdown-toggle::after {
    display: none !important;
}

.navbar-brand {
    font-family: NunitoSans-ExtraBold, serif;
    font-size: 30px;
}

.navbar-brand:hover {
    cursor: pointer;
}

.navbar-brand-wrapper {
    text-align: right;
}

.navbar-toggler {
    color: black;
    height: 100%;
    width: auto;
    position: relative;
    top: 0;
    bottom: 0;
    font-size: 24px !important;
    float: left;
    height: 51px;
}

.nav-wrapper {
    text-align: right;
    display: inline;
    position: relative;
}

.nav-wrapper .nav {
    float: right;
    position: relative;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    height: 100%;
}

.nav-wrapper .nav a, .nav-wrapper .nav a:hover {
    color: black;
}

.nav-wrapper .nav a:hover {
    text-decoration: underline;
}

.nav-wrapper .btn-icons-cart {
    float: right;
}

.search-input, .search-btn {
    border-color: #c1c1c1 !important;
}

.search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
    font-size: 18px;
    font-family: NunitoSans-SemiBold, serif;
}

.search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
    font-size: 18px;
    font-family: NunitoSans-SemiBold, serif;
}

.search-input::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
    font-size: 18px;
    font-family: NunitoSans-SemiBold, serif;
}

.header-icons {
    height: 100%;
    width: 100%;
}

.btn-icons {
    position: relative;
    border: none;
    background-color: transparent;
    color: #666666;
    width: 40%;
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 10px;
}

.btn-icons-list {
    background-image: url("../images/icons/list-icon.png");
}

.btn-icons-list:hover {
    background-image: url("../images/icons/list-icon-hover.png");
}

.btn-icons-cart {
    background-image: url("../images/icons/cart-icon.png");
}

.btn-icons-cart:hover {
    background-image: url("../images/icons/cart-icon-hover.png");
}

.btn-icons-list-likes {
    position: absolute;
    font-size: 14px;
    right: 10px;
    bottom: 10px;
}

.btn-icons-cart-count {
    position: absolute;
    font-size: 9px;
    right: 25%;
    top: 1%;
    border-radius: 10px;
    width: 15px;
    height: 15px;
    background-color: #f0632f;
    color: white;
    line-height: 1.8;
}

.header-menu-main {
    width: 100%;
    margin: 0 auto;
}

.header-menu-main .nav {
    display: -webkit-box !important;
    width: 97.5%;
    margin: 0 0 0 auto;
}

.header-menu-main .nav-link.active {
    color: #f0632f;
    text-decoration: none;
}

.header-menu-main .nav-link {
    color: black;
    font-family: NunitoSans-Regular, serif;
    font-size: 13px;
}

.header-menu-main .nav-item {
    margin: 0 1.5%;
    padding: 0.5rem;
}

.header-menu-main .nav-item.show.active {
    background: #f0632f;
}


.header-menu-main .nav-item.show {
    background: black;
}

.header-menu-main .nav-item.show .nav-link {
    color: white !important;
}

.header-menu-main .nav .nav-item a.nav-link {
    padding: 0 !important;
    min-height: 20px;
}

.header-menu-main .nav .nav-item:hover a.nav-link {
    text-decoration: none;
}

.header-menu-main .dropdown {
    position: initial !important;
}

.header-menu-main .dropdown-menu {
    width: 100% !important;
    height: 25rem;
    top: 90% !important;
}

.sous-menu.row {
    height: 100%;
}

.sous-menu-main {
    margin-left: 2.5%;
    height: 100%;
    width: 100%;
    position: relative;
}

.sous-menu-main li {
    font-family: NunitoSans-Bold, serif;
    padding: 5px 0;
    width: 95%;
}

.sous-menu-main li.active .sous-submenu {
    display: block !important;
}

.sous-menu-main li.active {
    background: #e5e5e5;
}

.sous-menu-main li:first-child.active {
    background: transparent;
}

.sous-menu-main li.active .sous-menu-main-item-title i {
    opacity: 1;
}

.sous-menu-main-item:hover {
    background: #e5e5e5;
}

.sous-menu-main-item-title {
    padding-left: 1% !important;
}

.sous-menu-main li i {
    opacity: 0;
    position: relative;
    float: right;
    right: 6%;
    top: 2px;
    transition: opacity .3s;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    -moz-transition: opacity .3s;
}

.sous-menu-main-item:hover i {
    opacity: 1;
    transition: opacity .3s;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    -moz-transition: opacity .3s;
}

.sous-menu-main-items {
    width: 20%;
    position: relative;
}

.sous-menu-main-items li.sous-menu-main-item-wm {
    min-height: 30px;
}

.sous-menu-main-items li.sous-menu-main-item-wm li a, .sous-menu-main-items li.sous-menu-main-item-wm a:hover, .sous-menu-main-items li.sous-menu-main-item-wm a:focus, .sous-menu-main-items li.sous-menu-main-item-wm a:active {
    text-decoration: none;
}

.sous-menu-main-items li.sous-menu-main-item-wm a {
    position: absolute;
    display: block;
    transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
    -webkit-transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
    -o-transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
    -moz-transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
}

.sous-menu-main-items li.sous-menu-main-item-wm a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #000000;
    transform-origin: left top;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;
    -webkit-transition: color 0.1s, transform 0.2s ease-out;
    -o-transition: color 0.1s, transform 0.2s ease-out;
    -moz-transition: color 0.1s, transform 0.2s ease-out;
}

.sous-menu-main-items li.sous-menu-main-item-wm a:active::before {
    background-color: #000000;
}

.sous-menu-main-items li.sous-menu-main-item-wm a:hover::before, .sous-menu-main-items li.sous-menu-main-item-wm a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

.sous-submenu {
    left: 100%;
    position: absolute;
    width: 1240px;
    top: -1px;
    bottom: -3px;
    display: none;
    height: 24rem;
}

.sous-submenu .row {
    height: 100%;
}

.sous-submenu ul {
    border-left: 1.5px solid #cdcdcd;
}

.sous-submenu li {
    padding-left: 10px;
    color: #777777;
    font-family: NunitoSans-Light, serif;
    font-size: 15px;
    padding-bottom: 5px;
    border: none;
    min-height: 30px;
}

.sous-submenu li.caption a {
    color: black !important;
    font-family: NunitoSans-Regular, serif;
    font-size: 15px;
}

.sous-submenu a, .sous-submenu a:hover, .sous-submenu a:focus, .sous-submenu a:active {
    color: #999;
    text-decoration: none;
}

.sous-submenu a {
    position: absolute;
    display: block;
    margin: 0 12px;
    letter-spacing: 1px;
    transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
    -webkit-transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
    -o-transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
    -moz-transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
}

.sous-submenu a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #999;
    transform-origin: left top;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;
    -webkit-transition: color 0.1s, transform 0.2s ease-out;
    -o-transition: color 0.1s, transform 0.2s ease-out;
    -moz-transition: color 0.1s, transform 0.2s ease-out;
}

.sous-submenu a:active::before {
    background-color: #999;
}

.sous-submenu a:hover::before, .sous-submenu a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

.sous-menu-btn {
    position: absolute;
    bottom: 5%;
}

.sous-menu-btn {
    max-width: 90%;
}

.sous-menu-btn button {
    max-width: 100%;
}

.sous-menu-btn-main-menu {
    width: 19%;
}

.sous-menu-btn-main-menu button {
    max-width: 100%;
}

.photo-right-section-top, .photo-right-section-bottom {
    width: 100%;
    height: 100%;
    margin-left: 0;
}

.photo-right-section-top {
    height: 70%;
    position: absolute;
    top: 0;
}

.photo-right-section-bottom {
    height: 30%;
    position: absolute;
    bottom: 0;
}

.photo-section-img {
    width: 100%;
}

.photo-section-caption-top, .photo-section-caption-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 10%;
    color: white;
    letter-spacing: 1px;
}

.photo-section-caption-top .photo-section-caption-img, .photo-section-caption-bottom .photo-section-caption-img {
    transition: margin .5s;
    -webkit-transition:margin .5s;
    -o-transition:margin .5s;
    -moz-transition:margin .5s;
}

.photo-section-caption-top:hover .photo-section-caption-img, .photo-section-caption-bottom:hover .photo-section-caption-img {
    margin-left: 10px;
}

.photo-section-caption-top:hover, .photo-section-caption-bottom:hover {
    /*text-decoration: underline;*/
    cursor: pointer;
}

.photo-section-caption-top {
    top: 65%;
}

.photo-section-caption-bottom {
    top: 30%;
}

.photo-section-caption-title {
    font-size: 30px;
    font-family: NunitoSans-Light, serif;
}

.photo-section-caption-description {
    font-size: 24px;
    font-family: NunitoSans-Bold, serif;
}

.photo-section-caption-img {
    width: 50px;
    height: 50px;
}

.photo-section-caption i {
    text-decoration: none !important;
}

/*HEADER*/
/*BODY*/
/*SECTION2*/
.section-2 {
    margin: 3% auto;
    width: 80%;
}

.section-2 h5 {
    font-size: 18px;
    font-family: NunitoSans-ExtraBold, serif;
}

.section-2 p {
    font-size: 15px;
    font-family: NunitoSans-Light, serif;
    color: #888888;
    padding: 0 15%;
}

.section-2 img {
    margin-bottom: 2%;
}

/*SECTION2*/

/*SECTION3*/
.section-title {
    font-size: 30px;
    font-family: NunitoSans-ExtraBold, serif;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px !important;
}

.section-title-line {
    overflow: hidden;
}

.section-title-line:before,
.section-title-line:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    background: #cdcdcd;
    border: solid #FFF;
    border-width: 0 10px;
}

.section-title-line:before {
    margin-left: -100%;
}

.section-title-line:after {
    margin-right: -100%;
}

.product-group {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.product-image {
    display: block;
    width: 100%;
    height: auto;
}

.product-group:hover .product-btn {
    opacity: 1;
    transition: opacity .3s;
    -webkit-transition:opacity .3s;
    -o-transition:opacity .3s;
    -moz-transition:opacity .3s;
}

.product-btn {
    opacity: 0;
    transition: opacity .3s;
    -webkit-transition:opacity .3s;
    -o-transition:opacity .3s;
    -moz-transition:opacity .3s;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 100;
    cursor: pointer;
}

.product-btn-like {
    width: 27px;
    height: 24px;
    background-image: url(../images/icons/like-icon.png);
    background-position: center;
    background-color: transparent;
    background-size: cover;
    border: none;
    position: absolute;
    right: 15px;
    top: 15px;
}

.product-btn-like:hover {
    background-image: url(../images/icons/like-icon-hover.png);
}

.product-btn-overview {
    position: absolute;
    left: 15px;
    top: 15px;
    background: white;
    border: none;
    font-size: 12px;
    font-family: NunitoSans-Bold, serif;
    max-width: 50%;
}

.product-btn-overview:hover {
    background: #000000;
    color: white;
}

.product-btn-add-to-cart {
    position: absolute;
    bottom: 25px;
    right: 0;
    left: 0 !important;
    display: block !important;
    margin: 0 auto;
    max-width: 100%;
    max-height: 40%;
}

.produit-en-vedette img, .produit-a-proximite img {
    max-width: 100%;
    width: 100%;
    height: auto;
    max-height: 100%;
    margin: 0 auto;
}

.produit-en-vedette a, .produit-a-proximite a {
    color: #999999;
}

.produit-en-vedette .slick-slide, .parcourir-par-catégories .slick-slide, .produit-a-proximite .slick-slide{
    margin-right: 0.5%;
}

.vous-aimeriez-aussi .slick-slide{
    margin-right: 0.2%;
}

.vous-aimeriez-aussi .slick-prev {
    left: -35px;
}
.vous-aimeriez-aussi .slick-next {
    right: -20px;
}

.produit-a-proximite-mobile {
    display: none;
}

.button-en-voir-plus {
    margin: 4rem auto auto auto;
}

.product {
    margin-top: 5%;
}

.product-title {
    font-family: NunitoSans-Bold, serif;
    font-size: 18px;
}

.product-subtitle {
    color: #999999;
    font-family: NunitoSans-Light, serif;
    font-size: 15px;
    margin: 0 !important;
}

.product-rating {
    font-family: NunitoSans-Light, serif;
    font-size: 15px;
    margin: 0 !important;
}

.product-price {
    font-family: NunitoSans-Bold, serif;
    font-size: 15px;
}

.product-in-stock {
    font-family: NunitoSans-SemiBold, serif;
    font-size: 15px;
    color: #f0632f;
}

.starHover {
    color: #f0632f !important;
}

.rating li, .rating ul {
    display: inline !important;
}

.rating {
    display: initial !important;
}

/*SECTION3*/

/*SECTION4*/
.section-4 {
    background: #f2f1f1;
    text-align: center;
    padding: 2rem 0;
    margin-right: -15px;
    margin-left: -15px
}

.section-4-mobile {
    display: none;
}

.parcourir-par-catégories p {
    font-size: 15px;
    font-family: NunitoSans-Regular, serif;
    width: 80%;
    margin: 0 auto;
    padding-top: 0.5rem;
}

.parcourir-par-catégories img, .vous-aimeriez-aussi img {
    max-width: 100%;
    width: 100%;
    height: auto;
    max-height: 100%;
    margin: 0 auto;
}

.parcourir-par-catégories .slide:hover {
    border-bottom: 2px solid black;
}

.slide .product p {
    padding: 7px 0;
}

.slide .product-title {
    margin-bottom: 2px;
}

/*SECTION4*/

/*SECTION5*/
div.producteur-de-la-semaine:last-child {
    margin: 4rem auto !important;
}

div.producteur-de-la-semaine {
    width: 50%;
    margin: 1rem auto 4rem auto;
    font-family: NunitoSans-Regular, serif;
    font-size: 15px;
}

div.producteur-de-la-semaine img {
    width: 100%;
}
.producteur-de-la-semaine-wrapper{
    width: 80%;
    margin: 0 auto;
}

.producteur-de-la-semaine-caption {
    display: block;
    color: #000 !important;
    font-family: NunitoSans-Bold, serif !important;
    font-size: 18px !important;
    margin: 0 !important;
}

.producteur-de-la-semaine-subtitle {
    display: block;
    font-family: NunitoSans-Regular, serif !important;
    font-size: 15px !important;
    margin-bottom: 5%;
}

.producteur-de-la-semaine-subtitle, .producteur-de-la-semaine-description {
    color: #999999;
}

.client-maturin-caption {
    font-size: 30px;
    font-family: NunitoSans-Light, serif;
}

.client-maturin-description {
    font-size: 15px;
    font-family: NunitoSans-Light, serif;
    margin: 5% auto;
}

.client-maturin-details a {
    font-size: 16px;
    font-family: NunitoSans-Bold, serif;
    color: #f0632f !important;
    cursor: pointer;
}

.client-maturin-details a:hover {
    color: #d6582a !important;
}

/*SECTION5*/

/*SECTION6*/

.nos-clients-nous-disent-left {
    height: 100%;
    width: 100%;
    float: right;
}

.nos-clients-nous-disent-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nos-clients-nous-disent-right {
    background: black;
    height: 530px;
    width: 100%;
    float: left;
    color: white;
    padding-left: 50px;
    display: flex;
    flex-direction: column;     /* stack flex items vertically */
    justify-content: center;
    line-height: 1.8;
}

.nos-clients-nous-disent-right-caption {
    font-size: 24px;
    font-family: NunitoSans-Bold, serif;
}

.nos-clients-nous-disent-right-subtitle {
    font-size: 15px;
    font-family: NunitoSans-Bold, serif;
    display: block;
}

.nos-clients-nous-disent-right-description {
    font-size: 15px;
    font-family: NunitoSans-Italic, serif;
    margin: 5% auto;
}

.nos-clients-nous-disent-right-profile {
    font-size: 13px;
    font-family: NunitoSans-Bold, serif;
    margin: 10% auto;
}
.nos-clients-nous-disent-right-profile span{
    margin-left: 1rem;
}

.messenger-btn {
    width: 50px;
    height: 50px;
    background-image: url("../images/icons/messenger.png");
    background-size: cover;
    border: none !important;
    background-color: transparent !important;
    position: relative;
    right: -105%;
    bottom: -60px;
}

div.quest-ce-que-maturin {
    width: 35%;
    margin: 5rem auto;
    text-align: center;
}

.quest-ce-que-maturin-caption {
    font-size: 30px;
    font-family: NunitoSans-SemiBold, serif;
}

.quest-ce-que-maturin-description {
    color: #777777 !important;
    font-size: 15px;
    font-family: NunitoSans-Light, serif;
    margin: 3% auto;
}

.quest-ce-que-maturin a {
    font-size: 16px;
    font-family: NunitoSans-Bold, serif;
    color: #f0632f !important;
    cursor: pointer;
}

.quest-ce-que-maturin a:hover {
    color: #d6582a !important;
}

.quest-ce-que-maturin-btn, .quest-ce-que-maturin-btn {
    display: block;
    margin: 2% auto;
}

.email-incorrect {
    display: none;
    color: red;
}

/*SECTION6*/

/*FOOTER*/
.nav-footer {
    width: 80%;
    margin: 1% auto;
    font-size: 15px;
    font-family: NunitoSans-Regular, serif;
    color: #777777;
}

.nav-footer-caption {
    font-family: NunitoSans-Bold, serif !important;
    color: black !important;
}

.nav-footer-suivre i {
    font-size: 18px;
    padding-left: 2%;
    color:  #999999 !important;
}

.nav-footer-suivre i:hover {
    color: black !important;
}

.nav-footer-inline {
    margin: 0 auto;
    text-align: center;
}

.nav-footer-inline li {
    display: inline-table;
}

.nav-footer-help {
    margin-right: 10%;
}

.nav-footer-help li {
    margin-right: 40px;
}

.nav-footer-block {
    text-align: right;
}

.nav-footer-block li {
    padding: 0.1rem !important;
    cursor: pointer;
}
.nav-footer-block-wrapper li{
    margin: 0 0.5rem;
}

.nav-footer-main li {
    min-height: 30px;
}

.nav-footer-main li a, .nav-footer-main li a:hover, .nav-footer-main li a:focus, .nav-footer-main li a:active {
    color: #999;
    text-decoration: none;
}

.nav-footer-main li a {
    position: absolute;
    display: block;
    transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
    -webkit-transition:color 0.1s, background-color 0.1s, padding 0.2s ease-in;
    -o-transition:color 0.1s, background-color 0.1s, padding 0.2s ease-in;
    -moz-transition:color 0.1s, background-color 0.1s, padding 0.2s ease-in;
}

.nav-footer-main li a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #999;
    transform-origin: left top;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;
    -webkit-transition:color 0.1s, transform 0.2s ease-out;
    -o-transition:color 0.1s, transform 0.2s ease-out;
    -moz-transition:color 0.1s, transform 0.2s ease-out;
}

.nav-footer-main li a:active::before {
    background-color: #999;
}

.nav-footer-main li a:hover::before, .nav-footer-main li a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

.nav-footer-bottom li a {
    position: relative !important;
}

.nav-footer-block-wrapper{
    border: 1px solid #e0dfde;
    padding: 0.8rem;
    margin: 0 auto;
}

.copyright{
    font-size: 13px;
    line-height: 1.8;
    padding-right: 15px;
}
/*FOOTER*/

/*BODY*/
/*SLIDER*/
.slider {
    width: 80%;
    margin: 1% auto;
    margin-left: 10.8%;
}

.slick-arrow i {
    color: #000 !important;
    font-size: 30px;
}

.header-slider {
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slide {
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header-slider-caption-wrapper {
    margin: 0 auto;
    position: relative;
    bottom: 0;
    top: 30%;
    width: 80%;
}

.header-slider-caption {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    top: 0;
    text-align: left;
    right: 0;
    left: 0;
}

.header-slider-caption-title span, .category-header-top-caption span {
    background-color: black;
    font-size: 51.13px;
    font-family: NunitoSans-Bold, serif;
    color: white;
    padding: 0 10px;
}

.category-header-top-caption {
    text-align: center;
    width: 90%;
}

.header-slider-caption-title {
    text-align: left;
}

.header-slider-caption-description {
    color: black;
    text-align: left;
    width: 45%;
    font-size: 23px;
    font-family: NunitoSans-Bold, serif;
    padding-top: 10px;
}

.header-slider-caption-description span{
    background-color: white;
    padding: 0 10px;
}

.header-slider-caption-btn {
    margin-top: 3%;
    font-size: 18px;
    font-family: NunitoSans-SemiBold, serif;
}

.header-slider .slick-prev, .header-slider .slick-next {
    width: 40px;
    height: 70px;
    background: rgba(239, 234, 234, 0.64);
}

.header-slider .slick-prev {
    left: 0!important;
    z-index: 999;
}

.header-slider .slick-next {
    right: 0!important;
}

.header-slider .slick-prev:hover, .header-slider .slick-prev:focus, .header-slider .slick-next:hover, .header-slider .slick-next:focus {
    background: rgba(243, 245, 249, 0.98);
}

.slick-prev:before, .slick-next:before {
    display: none !important;
}

.produit-en-vedette .slick-prev, .produit-a-proximite .slick-prev, .parcourir-par-catégories .slick-prev, .produit-en-vedette .slick-next, .produit-a-proximite .slick-next, .parcourir-par-catégories .slick-next {
    top: 30% !important;
}

.produit-en-vedette .slick-prev, .produit-a-proximite .slick-prev, .parcourir-par-catégories .slick-prev {
    left: -50px !important;
}

.parcourir-par-catégories .slick-track {
    height: 210px;
}

/*SLIDER*/
/*HOME  PAGE*/

/*MODAL*/
#previewModal .modal-body {
    padding: 2rem;
}

.modal-product-btn-amount {
    border-radius: 0;
    padding: .7rem 0.5rem;
}

input[type=number].modal-product-btn-amount::-webkit-inner-spin-button {
    opacity: 1;
}

.modal-product-image {
    display: block;
    width: 100%;
    height: 100%;
}

.modal-product-title {
    font-family: NunitoSans-ExtraBold, serif;
    font-size: 30px;
}

.modal-product-subtitle {
    font-family: NunitoSans-Regular, serif;
    font-size: 15px;
    color: #777777;
}

.modal-product-rating {
    font-family: NunitoSans-Light, serif;
    font-size: 15px;
}

.modal-product-rating i{
    font-size: 10px;
}

.modal-product-rating .rating {
    color: #777777;
}

.modal-product-price, .modal-product-amount-title, .modal-product-btn-amount, .modal-product-complete-list {
    font-family: NunitoSans-Bold, serif;
    font-size: 15px;
}

.modal-product-in-stock {
    font-family: NunitoSans-SemiBold, serif;
    font-size: 15px;
    color: #f0632f;
}

.modal-product-amount {
    margin-top: 10%;
}

.modal-product-btn-add-to-cart {
    height: 100%;
}

.modal-product-btn-product-list {
    margin-top: 3%;
    margin-bottom: 10%;
}

.modal-product-social-icons {
    margin-bottom: 10%;
}

.modal-product-social-icons-title {
    font-family: NunitoSans-Light, serif;
    font-size: 14px;
}

.modal-product-social-icons i {
    font-size: 18px;
    padding-left: 2%;
    color: black !important;
}

.modal-product-social-icons i:hover {
    color: #999999 !important;
}

.modal-product-complete-list a {
    color: #f0632f;
}

.modal-product-complete-list:hover a{
    color: #d6582a;
    text-decoration: none;
}

.modal-product-complete-list  .modal-product-complete-list-arrow {
    background-image: url("../images/icons/orange-arrow-right.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 15px;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    top: 3px;
}

.modal-product-complete-list{
    width: 100%;
}

.modal-product-complete-list .modal-product-complete-list-arrow{
    margin-left: 0;
    transition: all .2s ease-in-out; }
.modal-product-complete-list:hover .modal-product-complete-list-arrow{ margin-left: 10px; }
.modal-product-social-icon-email {
    display: inline-flex;
    background-image: url(../images/icons/email-icon.png);
    background-position: center;
    background-size: contain;
    width: 16px;
    height: 12px;
    background-repeat: no-repeat;
    margin-left: 2%;
    margin-bottom: 0;
}

.modal-product-social-icon-email:hover {
    background-image: url(../images/icons/email-icon-hover.png);
}

.modal-fullscreen {
    padding: 0 !important;
}

.modal-fullscreen {
    overflow-x: hidden;
    overflow-y: hidden !important;
    height: 100%;
}

.modal-fullscreen .modal-dialog {
    width: 100%;
    max-width: 100% !important;
    margin: 0 auto;
    padding: 0;
}

.modal-fullscreen .modal-content {
    margin-top: 50px;
    height: calc(100vh - 50px) !important;
    border: 0 none;
    border-radius: 0;
    width: 99% !important;
    margin-right: auto !important;
    margin-left: auto !important;
    padding-bottom: 50px;
}

.modal-fullscreen .modal-header {
    padding: 1rem 0px !important;
}

.modal-fullscreen .modal-body {
    overflow-y: scroll;
    height: 100%;
}

.modal-fullscreen .modal-title {
    text-align: center;
    font-size: 16px;
    font-family: NunitoSans-Bold, serif;
}

.modal-fullscreen .modal-header .row {
    width: 100%;
    margin: 0;
}

.modal-back-button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    display: none;
}

.modal-back-button:hover {
    opacity: 1;
}

.sous-menu-mobile-item {
    padding: 20px 0;
    border-bottom: 1px solid #E5E5E5;
}

.sous-menu-mobile-item i {
    float: right;
    margin-right: 20px;
}

.sous-menu-mobile-item a {
    font-size: 15px;
    font-family: NunitoSans-Regular, serif;
}

.sous-menu-mobile li.caption:first-child {
    border: none;
    padding-top: 0px;
}

.sous-menu-mobile li.caption {
    border-top: 1px solid #E5E5E5;
    padding-top: 20px;
    font-size: 16px;
    font-family: NunitoSans-SemiBold, serif;
}

.sous-menu-mobile li a {
    color: #222;
}

.sous-menu-mobile li a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/*MODAL*/

/*Login/Registration modal*/

#registrModal .modal-content {
    background-color: transparent !important;
}

#registrModal .tab-content {
    background: white;
}

#registrModal .nav-link {
    border-radius: 0;
    text-transform: uppercase;
    background: #000;
    color: white;
    font-size: 15px;
    font-family: NunitoSans-ExtraBold, serif;
}

#registrModal .nav-link.active {
    background: white;
    color: #000;
}

#registrModal .tab-pane .row {
    position: relative;
    margin: 0 auto;
    padding-bottom: 20px;
}

#registrModal h5 {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding-bottom: 7%;
}

.registr-top-text, .registr-bottom-text {
    text-align: center;
    color: #777777;
    font-family: NunitoSans-Regular, serif;
    font-size: 13px;
}

.registr-top-text a, .registr-bottom-text a {
    text-decoration: underline;
    color: black;
    font-weight: bolder;
}

.registr-top-text {
    padding-top: 25px;
    padding-bottom: 5px;
}

.registr-bottom-text {
    padding-bottom: 15px;
}

.button-g, .button-fb {
    padding: 10px;
    color: #FFF;
    margin: 0 auto;
    border-radius: .2rem;
    margin-bottom: 10px;
    font-family: NunitoSans-ExtraBold, serif;
}

.button-fb:hover {
    background-color: #3f61a3;
    border-color: rgba(0, 0, 0, 0.2);
}

.button-fb {
    background-color: #3B5998;
    border-color: rgba(0, 0, 0, 0.1);
}

.button-g:hover {
    background-color: #df5e52;
    border-color: rgba(0, 0, 0, 0.25);
}

.button-g {
    border-color: rgba(0, 0, 0, 0.15);
    background-color: #e95d5d;
}

.button-icon {
    float: left;
    width: 42px;
    height: 42px;
    margin: -10px -10px;
    border-radius: .2rem;
}

.fb-icon {
    line-height: 48px;
    background: #526ea3;
}

.fb-icon i {
    font-size: 20px;
}

.g-icon {
    line-height: 40px;
    background: #e96666;
}

.g-icon img {
    width: 20px;
    height: auto;
}

.registr-form-control {
    border-radius: 0;
    margin-bottom: 10px;
}

.btn-registr-modal-close {
    display: none;
    margin-top: 10px;
}
.rester-connecté{
    margin: -10px -15px!important;
}

/*CATEGORY PAGE*/
.category {
    color: #999999;
}

.category-products {
    width: 90%;
    max-height: 100%;
    height: auto;
    margin: 2rem auto!important;
}
.category-product-filter a:hover, .category-product-filter a:focus, .category-product-filter a:active {
    text-decoration: none!important;
}

.category-product-filter a{
    position: relative;
    transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
    -webkit-transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
    -o-transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
    -moz-transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
}

.category-product-filter a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: white;
    transform-origin: left top;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;
    -webkit-transition: color 0.1s, transform 0.2s ease-out;
    -o-transition: color 0.1s, transform 0.2s ease-out;
    -moz-transition: color 0.1s, transform 0.2s ease-out;
}

.category-product-filter a::before{
    background-color: black;
}
.category-product-filter.first a::before{
    background-color: #999999;
}
.category-product-filter.soldes a::before{
    background-color: #f0632f;
}

.category-product-filter a:active::before {
    background-color: black;
}

.category-product-filter.first a:active::before {
    background-color: #999999;
}
.category-product-filter.soldes a:active::before {
    background-color: #f0632f;
}

.category-product-filter  a:hover::before, .category-product-filter  a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

.category-product-filter-title, .product-title, .product-price, .product-rating span, .category-products-result, .category-product-filter-title a, .category-product-filter-title a:hover, .category-product-filter-title a:active{
    color: black;
}
.category-product-filter-title a,.category-product-filter-title a:hover,.category-product-filter-title a:active{
    text-decoration: none;
}

.category-product-filter-title img{
    vertical-align: baseline;
}

.category-header {
    margin: 0 !important;
}

.category-header-top {
    position: relative;
    width: 100%;
    height: auto;
}

.category-header-top-caption {
    position: absolute;
    right: 0;
    left: 0;
    top: 30%;
    margin: 0 auto;
    color: white;
    width: 65% !important;
}

.category-header-breadcrumbs {
    font-size: 15px;
    font-family: NunitoSans-Light, serif;
    margin: 20px auto;
    width: 90%;
}

.category-header-breadcrumbs a {
    text-decoration: none;
    color: #999999;
}

.category-header-breadcrumbs a:hover {
    text-decoration: none;
    color: #666666;
}

.category-header-breadcrumbs i {
    font-size: 12px
}

.category-header-description {
    font-size: 15px;
    font-family: NunitoSans-Regular, serif;
    width: 70%;
    margin: 0 auto;
}

a.category-header-description-more {
    font-size: 15px;
    font-family: NunitoSans-SemiBold, serif;
    color: #f0632f;
}

a.category-header-description-more:hover {
    color: #d6582a;
    text-decoration: none;
}

.category-products-filter-by:first-child {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 50px!important;
}

.category-products-filter-by {
    display: inline-table;
    padding: 0.1rem 0.8rem;
    border: 1px solid #cdcdcd;
    margin: 0 0.4rem 0.2rem 0.4rem;
    font-size: 15px;
}

.category-products-filter-by-btn-close {
    margin-left: 1rem;
    font-size: 20px;
    border: none;
    background: transparent;
    color: #999999;
}

.category-products-result {
    font-size: 15px;
    font-family: NunitoSans-Bold, serif;
    padding: 0.6rem 0.8rem;
}

.category-products {
    font-size: 15px;
    font-family: NunitoSans-Regular, serif;
    color: #999999;
}

.category-product-filter {
    margin: 7% auto;
}

.category-product-filter .category-product-filter-title {
    margin-bottom: 2%;
    font-family: NunitoSans-Bold, serif;
}

.category-product-filter.first {
    padding-left: 5%;
}

.category-product-filter.first .category-product-filter-default {
    padding-left: 5%;
}

.category-product-filter-default li:hover {
    cursor: pointer;
}

.category-products-filters-title {
    font-family: NunitoSans-Bold, serif;
}

.soldes a {
    color: #f0632f !important;
}

.checkbox:last-child {
    margin-bottom: 0;
}

.checkbox {
    position: relative;
    display: block;
    outline: none;
    border: none;
    margin-bottom: 4px;
    padding-left: 27px;
    line-height: 27px;
    cursor: pointer;
    text-transform: capitalize;
}

.checkbox input {
    position: absolute;
    left: -9999px;
}

.checkbox i {
    position: absolute;
    top: 5px;
    left: 0;
    display: block;
    width: 15px;
    height: 15px;
    outline: none;
    background: url("../images/icons/box.svg");
}

.checkbox input + i:after {
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s;
}

.checkbox input:checked + i:after {
    opacity: 1;
}

.checkbox input + i:after {
    content: '';
    width: 15px;
    height: 15px;
    background: url(../images/icons/checkbox.svg);
    text-align: center;
}

.masonry-layout {
    column-count: 4;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-gap: 0;
    -moz-column-gap: 0;
    -webkit-column-gap: 0;
}

.masonry-layout__panel {
    opacity: 0;
}

.masonry-layout__panel {
    break-inside: avoid;
    -moz-page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    -o-column-break-inside: avoid;
    -ms-column-break-inside: avoid;
    column-break-inside: avoid;
    page-break-inside: avoid;
    padding: 5px;
    position: relative;
    height: 100%;
    width: 100%;
}

.masonry-layout__panel-content {
    padding: 10px;
    border-radius: 10px;
}

.masonry-layout__panel-content img {
    width: 100%;
    height: auto;
}

/*CATEGORY PAGE*/

.nav-wrap {
    width: 100%;
}

/* Example One */
#example-one, #example-two {
    list-style: none;
    position: relative;
}

#example-one .nav-link, #example-two .nav-link {
    float: left;
    padding: 10px 0px 4px 0px;
    text-decoration: none;
}

.magic-line {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    left: 0;
    width: 100px;
    height: 1.6px;
}

#example-one .magic-line {
    background: black;
}

#example-two .magic-line {
    background: white;
}

#example-one .current_page_item a.nav-link {
    color: black;
}

.ie6 #example-one li.nav-item, .ie7 #example-one li.nav-item, .ie6 #example-two li.nav-item, .ie7 #example-two li.nav-item {
    display: inline;
}

.ie6 .magic-line {
    bottom: -3px;
}

/* PRODUCT PAGE */
.category-breadcrums {
    width: 80%;
    margin: 0 auto;
}

.product {
    position: relative;
}

.product-zoom {
    position: relative;
    background-color: #FFF;
    text-align: center;
    z-index: 5;
}

.product-zoom img {
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.gallery li {
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

.gallery img {
    max-width: 100%;
}

.gallery-thumb {
    padding: 80px 40px 0 0;
    max-width: 110px;
    margin-right: 40px;
    margin-top: 80px;
}

.gallery-thumb img {
    max-width: 100%;
}

.gallery-thumb a {
    border: 0 solid transparent;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    display: inline-block;
}

.gallery-thumb a:hover {
    border: 1px solid #cdcdcd;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.no-background {
    background-color: transparent;
}

.section-title-left {
    text-align: left;
}

.section-title-small {
    font-family: NunitoSans-Light, serif;
    font-size: 24px;
}

.product-big-title {
    width: 100%;
    margin-bottom: 20px !important;
}

.product-rating li {
    color: #999999;
    font-size: 10px;
}

.product-price {
    margin-bottom: 0;
}

.product-values {
    font-size: 15px;
    color: #f0632f;
    font-weight: 600;
}

.product-quantity-title {
    font-family: NunitoSans-Bold, serif;
    margin: 0;
    font-size: 15px;
    margin-bottom: 5px;
}

.product-quantity-value {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 22px;
}

.product-quantity-value input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}

.product-quantity-value input {
    height: 48px;
    border: 1px solid #c1c1c1;
    border-right: none;
    font-size: 15px;
    font-family: NunitoSans-Bold, serif;
    width: 100px;
    padding: 0 12px;
}

.product-board {
    padding-left: 60px;
}

.product-board .modal-product-complete-list {
     padding-top: 15px;
 }

.product .nav-suivre {
    margin: 40px 0 30px 0;
}

.product .nav-suivre .modal-product-social-icons{
    margin-bottom: 0;
}

#product {
    width: 81.5%;
    margin: 0 auto; }

.product .nav-suivre span {
    font-family: NunitoSans-Light, serif;
}

.product .nav-suivre i {
    color: #000000;
    margin: 0 4px;
}

.product-property-title {
    position: relative;
    font-size: 15px;
    color: #000000;
    padding: 14px 30px 14px 22px;
    border: 1px solid #cdcdcd;
    text-transform: uppercase;
    font-family: NunitoSans-SemiBold, serif;
    cursor: pointer;
    margin-bottom: 0;
}

.product-property-title:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 25px;
    background-color: #000;
}

.product-property-title:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 29px;
    background-color: #000;
}

.product-open:after {
    opacity: 0;
}

.product-property-description {
    margin: 0;
    padding: 20px 30px 20px 22px;
    color: #777777;
    font-family: NunitoSans-Light, serif;
    display: none;
}

.product-all {
    color: #f0632f;
    font-size: 15px;
    font-family: NunitoSans-Bold, serif;
}

.product-all:hover {
    color: #f0632f;
}

.product-all i {
    display: inline-block;
    margin-left: 8px;
    font-size: 26px;
    position: relative;
    top: 3px;
}

.comments {
    margin: 50px 0 30px 0;
}

.comments header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #cdcdcd;
}

.comments article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0 28px 0;
    border-bottom: 1px solid #cdcdcd;
}

.comments-title {
    font-size: 24px;
    font-family: NunitoSans-Bold, serif;
    margin: 0;
    margin-right: 14px;
    text-transform: uppercase;
}

.commnet-share {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right;
}

.commnet-share a {
    color: #f0632f;
    font-size: 14px;
    font-family: NunitoSans-SemiBold, serif;
}

.comment-avatar {
    padding-left: 5px;
    padding-right: 25px;
}

.comment-avatar img {
    border-radius: 50%;
}

.commnet-meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.comment-date {
    margin-left: auto;
}

.comment-date p {
    margin-bottom: 0;
    color: #777777;
    font-family: NunitoSans-Light, serif;
}

.comment-name {
    margin-top: 20px;
    font-size: 15px;
    font-family: NunitoSans-Bold, serif;
}

.comment-text {
    font-size: 15px;
    color: #777777;
    font-family: NunitoSans-Light, serif;
}

.photo-section-caption-title, .photo-section-caption-title:hover, .photo-section-caption-title:focus, .photo-section-caption-title:active,
.photo-section-caption-description, .photo-section-caption-description:hover, .photo-section-caption-description:focus, .photo-section-caption-description:active {
    text-decoration: none;
}

.photo-section-caption-title .text-underline, .photo-section-caption-description .text-underline,
#example-one li.nav-item a.nav-link{
    position: relative;
    transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
    -webkit-transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
    -o-transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
    -moz-transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
}

.photo-section-caption-title .text-underline::before, .photo-section-caption-description .text-underline::before, #example-one li.nav-item a.nav-link::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: white;
    transform-origin: left top;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;
    -webkit-transition: color 0.1s, transform 0.2s ease-out;
    -o-transition: color 0.1s, transform 0.2s ease-out;
    -moz-transition: color 0.1s, transform 0.2s ease-out;
}

#example-one li.nav-item a.nav-link.active::before{
    background-color: #f0632f;
}

#example-one li.nav-item a.nav-link::before{
    background-color: black;
    bottom: 0px;
}

.photo-section-caption-top:active .photo-section-caption-description .text-underline::before, .photo-section-caption-top:active .photo-section-caption-title .text-underline::before,
.photo-section-caption-bottom:active .photo-section-caption-description .text-underline::before, .photo-section-caption-bottom:active .photo-section-caption-title .text-underline::before{
    background-color: white;
}
#example-one li.nav-item a.nav-link.active:active::before {
    background-color:#f0632f;
}

#example-one li.nav-item a.nav-link:active::before {
    background-color: black;
}

.photo-section-caption-top:hover .photo-section-caption-title .text-underline::before, .photo-section-caption-top:focus .photo-section-caption-title .text-underline::before,
.photo-section-caption-top:hover .photo-section-caption-description .text-underline::before, .photo-section-caption-top:focus .photo-section-caption-description .text-underline::before,
.photo-section-caption-bottom:hover .photo-section-caption-title .text-underline::before, .photo-section-caption-bottom:focus .photo-section-caption-title .text-underline::before,
.photo-section-caption-bottom:hover .photo-section-caption-description .text-underline::before, .photo-section-caption-bottom:focus .photo-section-caption-description .text-underline::before,
#example-one li.nav-item:hover  a.nav-link::before, #example-one li.nav-item:focus  a.nav-link::before {
    transform-origin: left top;
    transform: scale(1, 1);
}