@font-face {
    font-family: NunitoSans-Black;
    src: url(../fonts/Nunito_Sans/NunitoSans-Black.ttf);
}

@font-face {
    font-family: NunitoSans-BlackItalic;
    src: url(../fonts/Nunito_Sans/NunitoSans-BlackItalic.ttf);
}

@font-face {
    font-family: NunitoSans-Bold;
    src: url(../fonts/Nunito_Sans/NunitoSans-Bold.ttf);
}

@font-face {
    font-family: NunitoSans-BoldItalic;
    src: url(../fonts/Nunito_Sans/NunitoSans-BoldItalic.ttf);
}

@font-face {
    font-family: NunitoSans-ExtraBold;
    src: url(../fonts/Nunito_Sans/NunitoSans-ExtraBold.ttf);
}

@font-face {
    font-family: NunitoSans-ExtraBoldItalic;
    src: url(../fonts/Nunito_Sans/NunitoSans-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: NunitoSans-ExtraLight;
    src: url(../fonts/Nunito_Sans/NunitoSans-ExtraLight.ttf);
}

@font-face {
    font-family: NunitoSans-ExtraLightItalic;
    src: url(../fonts/Nunito_Sans/NunitoSans-ExtraLightItalic.ttf);
}

@font-face {
    font-family: NunitoSans-Italic;
    src: url(../fonts/Nunito_Sans/NunitoSans-Italic.ttf);
}

@font-face {
    font-family: NunitoSans-Light;
    src: url(../fonts/Nunito_Sans/NunitoSans-Light.ttf);
}

@font-face {
    font-family: NunitoSans-LightItalic;
    src: url(../fonts/Nunito_Sans/NunitoSans-LightItalic.ttf);
}

@font-face {
    font-family: NunitoSans-Regular;
    src: url(../fonts/Nunito_Sans/NunitoSans-Regular.ttf);
}

@font-face {
    font-family: NunitoSans-SemiBold;
    src: url(../fonts/Nunito_Sans/NunitoSans-SemiBold.ttf);
}

@font-face {
    font-family: NunitoSans-SemiBoldItalic;
    src: url(../fonts/Nunito_Sans/NunitoSans-SemiBoldItalic.ttf);
}

body {
    font-family: NunitoSans-Regular, serif;
    font-size: 14px;
}

h1,
h2,
h3 {
    font-weight: normal;
    line-height: 1.2;
}

.full-width {
    width: 100% !important;
}

.no-padding {
    padding: 0px !important;
}

.no-padding-right {
    padding-right: 0px !important;
}

.no-padding-left {
    padding-left: 0px !important;
}

li {
    list-style-type: none;
}

ul {
    padding: 0 !important;
}

.divider {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 80%;
    height: 1px;
    background: #cdcdcd;
    border: solid #FFF;
    border-width: 0 10px;
    margin: 1% auto;
}

.section-6 {
    margin: 1% auto !important;
}

section {
    margin: 5% auto;
}

.grey-text-color {
    color: #999999 !important;
}

.black-text-color {
    color: black !important;
}

/*HOME  PAGE*/
/*HEADER*/
.header-menu-top {
    margin-bottom: 0.7%;
    padding: 0 !important;
    background-color: #000000;
}

.header-menu-top .nav-link {
    color: white;
    font-family: NunitoSans-Light, serif;
    font-size: 13px;
}

a.nav-link {
    font-size: 13px;
}

.header-menu-top a.nav-link.active, .header-menu-top a.nav-link:hover {
    text-decoration: underline;
}

.header-menu-top .dropdown-toggle::after {
    display: none !important;
}

.navbar-brand {
    font-family: NunitoSans-ExtraBold, serif;
    font-size: 30px;
}

.search-input, .search-btn {
    border-color: #c1c1c1 !important;
}

.search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
    font-size: 18px;
    font-family: NunitoSans-SemiBold, serif;
}

.search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
    font-size: 18px;
    font-family: NunitoSans-SemiBold, serif;
}

.search-input::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
    font-size: 18px;
    font-family: NunitoSans-SemiBold, serif;
}

.header-icons {
    height: 100%;
    width: 100%;
}

.btn-icons {
    position: relative;
    border: none;
    background-color: transparent;
    color: #666666;
    width: 40%;
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 10px;
}

.btn-icons-cart {
    margin: 0 !important;
}

.btn-icons-cart i {
    font-size: 36px;
    margin-top: -5px;
    /*background-image: url("../images/cart-icon.png");*/
}

.btn-icons-cart:hover i {
    color: black;
}

.btn-icons-list {
    background-image: url("../images/list-icon.png");
}

.btn-icons-list:hover {
    background-image: url("../images/list-icon-hover.png");
}

.btn-icons-list-likes {
    position: absolute;
    font-size: 14px;
    right: 10px;
    bottom: 10px;
}

.btn-icons-cart-count {
    position: absolute;
    font-size: 12px;
    right: 25%;
    top: 1%;
    border-radius: 10px;
    width: 15px;
    height: 15px;
    background-color: #f0632f;
    color: white;
    font-weight: bold;
}

.header-menu-main {
    width: 95%;
    margin: 0 auto;
}

.header-menu-main .nav {
    display: -webkit-box !important;
}

.header-menu-main .nav-link.active {
    color: #f0632f;
    text-decoration: none;
}

.header-menu-main .nav-link {
    color: black;
    font-family: NunitoSans-Regular, serif;
    font-size: 13px;
}

.header-menu-main .nav-item {
    margin: 1% 1%;
}

.header-menu-main .nav-item:hover {
    background: black;
    color: white !important;
}

.header-menu-main .nav-item:hover .nav-link {
    color: white !important;
}

.header-menu-main .nav .nav-item a {
    padding: 0 !important;
}

.header-menu-main .nav .nav-item:first-child a {
    border-bottom: 2px solid black;
}

.carousel-caption {
    top: 30% !important;
    text-align: left !important;
    right: 0 !important;
    left: 13% !important;
}

.carousel-caption .carousel-caption-title, .category-header-top-caption {
    background-color: black;
    width: 90%;
    text-align: center;
    font-size: 51.13px;
    font-family: NunitoSans-Bold, serif;
}

.carousel-caption .carousel-caption-description {
    background-color: white;
    color: black;
    text-align: center;
    width: 40%;
    font-size: 23px;
    font-family: NunitoSans-Bold, serif;
}

.carousel-caption .carousel-caption-btn {
    background-color: #f0632f !important;
    color: white !important;
    width: 18%;
    border: none;
    padding: .5rem 1rem;
    margin-top: 3%;
    font-size: 18px;
    font-family: NunitoSans-SemiBold, serif;
}

.carousel-caption .carousel-caption-btn:hover {
    background-color: #d6582a !important;
}

.carousel-control-next, .carousel-control-prev {
    width: 5% !important;
    color: black !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    position: absolute;
    width: 80% !important;
    height: 80px !important;
    background: #f9f9f9;
}

.carousel-control-next-icon {
    background-image: none !important;
    font-size: 30px;
    right: 0;
}

.carousel-control-prev-icon {
    background-image: none !important;
    font-size: 30px;
    left: 0;
}

.carousel-control-next-icon i {
    padding-top: 25px;
    margin-left: 5px;
}

.carousel-control-prev-icon i {
    padding-top: 25px;
    margin-right: 5px;
}

.photo-right-section-top, .photo-right-section-bottom {
    width: 100%;
    height: 100%;
    margin-left: 0;
}

.photo-right-section-top {
    height: 70%;
    position: absolute;
    top: 0;
}

.photo-right-section-bottom {
    height: 30%;
    position: absolute;
    bottom: 0;
}

.photo-right-section-bottom img, .photo-right-section-top img {
    width: 100%;
}

.photo-section-caption-top, .photo-section-caption-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 10%;
    color: white;
    text-decoration: underline;
}

.photo-section-caption-top {
    top: 65%;
}

.photo-section-caption-bottom {
    top: 35%;
}

.photo-section-caption-title {
    font-size: 30px;
    font-family: NunitoSans-Light, serif;
}

.photo-section-caption-description {
    font-size: 24px;
    font-family: NunitoSans-Bold, serif;
}

.photo-section-caption i {
    text-decoration: none !important;
}

/*HEADER*/
/*BODY*/
/*SECTION2*/
.section-2 {
    margin: 3% auto;
    width: 80%;
}

.section-2 h5 {
    font-size: 18px;
    font-family: NunitoSans-ExtraBold, serif;
}

.section-2 p {
    font-size: 15px;
    font-family: NunitoSans-Light, serif;
    color: #888888;
    padding: 0 15%;
}

.section-2 img {
    margin-bottom: 2%;
}

/*SECTION2*/

/*SECTION3*/
.section-title {
    font-size: 30px;
    font-family: NunitoSans-ExtraBold, serif;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px !important;
}

.section-title-line {
    overflow: hidden;
}

.section-title-line:before,
.section-title-line:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    background: #cdcdcd;
    border: solid #FFF;
    border-width: 0 10px;
}

.section-title-line:before {
    margin-left: -100%;
}

.section-title-line:after {
    margin-right: -100%;
}

.product-group {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.product-image {
    display: block;
    width: 100%;
    height: auto;
}

.product-group:hover .product-btn {
    opacity: 1;
    transition: opacity .3s;
}

.product-btn {
    opacity: 0;
    transition: opacity .3s;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 100;
    cursor: pointer;
}

.product-btn-like {
    width: 26px;
    height: 23px;
    background-image: url(../images/like-icon.png);
    background-position: center;
    background-color: transparent;
    background-size: contain;
    border: none;
    position: absolute;
    right: 15px;
    top: 15px;
}

.product-btn-like:hover {
    background-image: url(../images/like-icon-hover.png);
}

.product-btn-overview {
    position: absolute;
    left: 15px;
    top: 15px;
    background: white;
    border: none;
    font-size: 13px;
    font-family: NunitoSans-Bold, serif;
}

.product-btn-overview:hover {
    background: #000000;
    color: white;
}

.product-btn-add-to-cart {
    position: absolute;
    bottom: 25px;
    right: 0;
    left: 0 !important;
    width: 70%;
    display: block !important;
    margin: 0 auto;
    border: none;
    background: #f0632f;
    font-size: 15px;
    font-family: NunitoSans-Bold, serif;
    padding: .7rem 1rem;
    color: #ffffff;
    text-align: center;
}

.product-btn-add-to-cart:hover {
    background: #d6582a;
}

.produit-en-vedette img {
    max-width: 350px;
    width: 100%;
    height: auto;
    max-height: 350px;
}

.produit-en-vedette a {
    color: #999999;
}

.product {
    margin-top: 5%;
}

.product-title {
    font-family: NunitoSans-Bold, serif;
    font-size: 18px;
}

.product-subtitle {
    color: #999999;
    font-family: NunitoSans-Light, serif;
    font-size: 15px;
    margin: 0 !important;
}

.product-rating {
    font-family: NunitoSans-Light, serif;
    font-size: 15px;
    margin: 0 !important;
}

.product-price {
    font-family: NunitoSans-Bold, serif;
    font-size: 15px;
}

.product-in-stock {
    font-family: NunitoSans-SemiBold, serif;
    font-size: 15px;
    color: #f0632f;
}

.starHover {
    color: #f0632f !important;
}

.rating li, .rating ul {
    display: inline !important;
}

.rating {
    display: initial !important;
}

/*SECTION3*/

/*SECTION4*/
.section-4 {
    background: #f2f1f1;
    text-align: center;
    padding: 2rem 0;
}

.parcourir-par-catégories p {
    font-size: 15px;
    font-family: NunitoSans-Regular, serif;
}

.parcourir-par-catégories .slide:hover {
    border-bottom: 2px solid black;
}

/*SECTION4*/

/*SECTION5*/
div.producteur-de-la-semaine:last-child {
    margin: 4% auto !important;
}

div.producteur-de-la-semaine {
    width: 50%;
    margin: 1% auto 4% auto;
    font-family: NunitoSans-Regular, serif;
    font-size: 15px;
}

.producteur-de-la-semaine-caption {
    display: block;
    color: #000 !important;
    font-family: NunitoSans-Bold, serif !important;
    font-size: 18px !important;
    margin: 0 !important;
}

.producteur-de-la-semaine-subtitle {
    display: block;
    font-family: NunitoSans-Regular, serif !important;
    font-size: 15px !important;
    margin-bottom: 5%;
}

.producteur-de-la-semaine-subtitle, .producteur-de-la-semaine-description {
    color: #999999;
}

.producteur-de-la-semaine-btn {
    border: none;
    background: #f0632f;
    font-size: 15px;
    font-family: NunitoSans-Bold, serif;
    padding: .7rem 1rem;
    color: #ffffff;
    text-align: center;
    width: 210px;
}

.producteur-de-la-semaine-btn:hover {
    background: #d6582a;
}

.client-maturin-caption {
    font-size: 30px;
    font-family: NunitoSans-Light, serif;
}

.client-maturin-description {
    font-size: 15px;
    font-family: NunitoSans-Light, serif;
    margin: 5% auto;
}

.client-maturin-details a {
    font-size: 16px;
    font-family: NunitoSans-Bold, serif;
    color: #f0632f !important;
    cursor: pointer;
}

.client-maturin-details a:hover {
    color: #d6582a !important;
}

/*SECTION5*/

/*SECTION6*/

.nos-clients-nous-disent-left {
    background-image: url("../images/img4.png");
    background-size: cover;
    height: 530px;
    width: 100%;
    float: right;
}

.nos-clients-nous-disent-right {
    background: black;
    height: 530px;
    width: 100%;
    float: left;
    color: white;
    padding-left: 20px;
    padding-top: 5%;
}

.nos-clients-nous-disent-right-caption {
    font-size: 24px;
    font-family: NunitoSans-Bold, serif;
}

.nos-clients-nous-disent-right-subtitle {
    font-size: 15px;
    font-family: NunitoSans-Bold, serif;
    display: block;
}

.nos-clients-nous-disent-right-description {
    font-size: 15px;
    font-family: NunitoSans-Italic, serif;
    margin: 5% auto;
}

.nos-clients-nous-disent-right-profile {
    font-size: 13px;
    font-family: NunitoSans-Bold, serif;
    margin: 10% auto;
}

.nos-clients-nous-disent-right-btn {
    border: none;
    background: #f0632f;
    font-size: 15px;
    font-family: NunitoSans-Bold, serif;
    padding: .7rem 1rem;
    color: #ffffff;
    text-align: center;
}

.nos-clients-nous-disent-right-btn:hover {
    background: #d6582a;
}

.messenger-btn {
    width: 50px;
    height: 50px;
    background-image: url("../images/messenger.png");
    background-size: cover;
    border: none !important;
    background-color: transparent !important;
    position: relative;
    right: -105%;
    top: 4rem;
}

div.quest-ce-que-maturin {
    width: 35%;
    margin: 4% auto;
    text-align: center;
}

.quest-ce-que-maturin-caption {
    font-size: 30px;
    font-family: NunitoSans-SemiBold, serif;
}

.quest-ce-que-maturin-description {
    color: #777777 !important;
    font-size: 15px;
    font-family: NunitoSans-Light, serif;
    margin: 3% auto;
}

.quest-ce-que-maturin a {
    font-size: 16px;
    font-family: NunitoSans-Bold, serif;
    color: #f0632f !important;
    cursor: pointer;
}

.quest-ce-que-maturin a:hover {
    color: #d6582a !important;
}

.quest-ce-que-maturin-btn-grey, .quest-ce-que-maturin-btn-orage {
    display: block;
    border: none;
    font-size: 15px;
    font-family: NunitoSans-Bold, serif;
    padding: .7rem 1rem;
    text-align: center;
    margin: 2% auto;
    width: 340px;
}

.quest-ce-que-maturin-btn-grey {
    color: black;
    background: #e0dfde;
}

.quest-ce-que-maturin-btn-orage {
    background: #f0632f;
    color: white;
}

.quest-ce-que-maturin-btn-grey:hover {
    background: #e0dfde87 !important;
}

.quest-ce-que-maturin-btn-orage:hover {
    background: #d6582a !important;
}

/*SECTION6*/

/*FOOTER*/
.nav-footer {
    width: 80%;
    margin: 1% auto;
    font-size: 15px;
    font-family: NunitoSans-Regular, serif;
    color: #777777;
}

.nav-footer-caption {
    font-family: NunitoSans-Bold, serif !important;
    color: black !important;
}

.nav-footer-suivre i {
    font-size: 18px;
    padding-left: 2%;
    color: black !important;
}

.nav-footer-suivre i:hover {
    color: #999999 !important;
}

.nav-footer-inline {
    margin: 0 auto;
}

.nav-footer-inline li {
    display: inline-table;
}

.nav-footer-help {
    margin-right: 10%;
}

.nav-footer-help li {
    margin-right: 40px;
}

.nav-footer-block {
    border: 1px solid #e0dfde;
    max-width: 90%;
}

.nav-footer-block li {
    padding: 0.8rem 0.5rem !important;
    cursor: pointer;
}

.nav-footer li:hover {
    text-decoration: underline;
    cursor: pointer;
}

/*FOOTER*/

/*BODY*/
/*SLIDER*/
.slider {
    width: 80%;
    margin: 1% auto;
    margin-left: 10.8%;
}

.slick-arrow i {
    color: #000 !important;
    font-size: 30px;
}

.slick-prev:before, .slick-next:before {
    display: none !important;
}

.slick-prev, .slick-next {
    top: 35% !important;
}

.slick-prev {
    left: -50px !important;
}

.parcourir-par-catégories .slick-track {
    height: 220px;
}

/*SLIDER*/
/*HOME  PAGE*/

/*CATEGORY PAGE*/
.category {
    color: #999999;
}

.category-product-filter-title, .product-title, .product-price, .product-rating span, .category-products-result {
    color: black;
}

.category-header {
    margin: 0 !important;
}

.category-header-top {
    position: relative;
    width: 100%;
    height: auto;
}

.category-header-top-caption {
    position: absolute;
    right: 0;
    left: 0;
    top: 30%;
    margin: 0 auto;
    color: white;
    width: 65% !important;
}

.category-header-breadcrumbs {
    font-size: 15px;
    font-family: NunitoSans-Light, serif;
    margin: 1.5% 0.5%;
}

.category-header-breadcrumbs i {
    font-size: 12px
}

.category-header-description {
    font-size: 15px;
    font-family: NunitoSans-Regular, serif;
    width: 70%;
    margin: 0 auto;
}

a.category-header-description-more {
    font-size: 15px;
    font-family: NunitoSans-SemiBold, serif;
    color: #f0632f;
}

a.category-header-description-more:hover {
    color: #d6582a;
    text-decoration: none;
}

.category-products-filter-by:first-child {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 1rem !important;
    margin-left: 0 !important;
}

.category-products-filter-by {
    display: inline;
    padding: 0.8rem 1rem;
    border: 1px solid #cdcdcd;
    margin: 0 1rem;
    font-size: 15px;
}

.category-products-filter-by-btn-close {
    margin-left: 1rem;
    font-size: 20px;
    border: none;
    background: transparent;
    color: #999999;
}

.category-products-result {
    font-size: 15px;
    font-family: NunitoSans-Bold, serif;
}

.category-products {
    margin: 5% 2% !important;
    font-size: 15px;
    font-family: NunitoSans-Regular, serif;
    color: #999999;
}

.category-product-filter {
    margin: 7% auto;
}

.category-product-filter .category-product-filter-title {
    margin-bottom: 2%;
    font-family: NunitoSans-Bold, serif;
}

.category-product-filter.first {
    padding-left: 5%;
}

.category-product-filter.first .category-product-filter-default {
    padding-left: 5%;
}

.category-product-filter-default li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.category-products-filters-title {
    font-family: NunitoSans-Bold, serif;
}

.soldes a {
    color: #f0632f !important;
}

.checkbox:last-child {
    margin-bottom: 0;
}

.checkbox {
    position: relative;
    display: block;
    outline: none;
    border: none;
    margin-bottom: 4px;
    padding-left: 27px;
    line-height: 27px;
    cursor: pointer;
    text-transform: capitalize;
}

.checkbox input {
    position: absolute;
    left: -9999px;
}

.checkbox i {
    position: absolute;
    top: 5px;
    left: 0;
    display: block;
    width: 15px;
    height: 15px;
    outline: none;
    border-width: 2px;
    border-style: solid;
    background: #fff;
}

.checkbox input + i:after {
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s;
}

.checkbox input:checked + i:after {
    opacity: 1;
}

.checkbox input + i:after {
    content: '';
    top: 3px;
    left: 3px;
    width: 4px;
    height: 4px;
    background: url(../images/dot.png);
    text-align: center;
}

.checkbox input + i:after {
    color: #fff;
}

.checkbox i {
    border-color: #E5E5E5;
}

.checkbox input:checked + i {
    border-color: #888;
}

/*MODAL*/
.modal-product-btn-amount, .modal-product-btn-add-to-cart, .modal-product-btn-product-list {
    border-radius: 0;
}

.modal-product-image{
    display: block;
    width: 100%;
    height: 100%;
}

.modal-product-title {
    font-family: NunitoSans-ExtraBold, serif;
    font-size: 30px;
}

.modal-product-subtitle {
    font-family: NunitoSans-Regular, serif;
    font-size: 15px;
    color: #777777;
}

.modal-product-rating {
    font-family: NunitoSans-Light, serif;
    font-size: 15px;
}

.modal-product-rating .rating {
    color: #777777;
}

.modal-product-price, .modal-product-amount-title, .modal-product-btn-amount,
.modal-product-btn-add-to-cart, .modal-product-btn-product-list, .modal-product-complete-list {
    font-family: NunitoSans-Bold, serif;
    font-size: 15px;
}

.modal-product-in-stock {
    font-family: NunitoSans-SemiBold, serif;
    font-size: 15px;
    color: #f0632f;
}

.modal-product-amount {
    margin-top: 10%;
}

.modal-product-btn-add-to-cart {
    background: #f0632f;
    color: #ffffff;
}

.modal-product-btn-add-to-cart:hover {
    background: #d6582a;
}

.modal-product-btn-product-list{
    margin-top: 3%;
    margin-bottom: 10%;
    background: black;
    color: #ffffff;
}
.modal-product-btn-product-list:hover{
    background: #e1e1e1;
    color: black;
}

.modal-product-social-icons{
    margin-bottom: 10%;
}

.modal-product-social-icons-title{
    font-family: NunitoSans-Light, serif;
    font-size: 14px;
}

.modal-product-social-icons i{
    font-size: 18px;
    padding-left: 2%;
    color: black !important;
}

.modal-product-social-icons i:hover {
    color: #999999 !important;
}

.modal-product-complete-list a{
    color: #f0632f;
}
.modal-product-complete-list a:hover{
    color: #d6582a;
    text-decoration: none;
}

.modal-product-complete-list a i{
    font-size: 20px;
}
/*MODAL*/

/*CATEGORY PAGE*/